.header {
  position: relative;
}

.rectangle-small,
.rectangle-large {
  position: absolute;
  z-index: -1;
}

.rectangle-large {
  right: 0;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 17px;
}

.navbar .nav-list {
  display: flex;
  align-items: center;
}

.container-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 59px;
}

.container-header .nav-menu {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 240px;
}

.nav-item {
  margin: 0 12px;
  font-size: var(--size-very-small);
}

.nav-auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-sig-in {
  color: var(--color-olivine);
  border: none;
  background: none;
}

.nav-link {
  font-weight: 700;
  text-decoration: none;
}

.link-item {
  color: var(--color-primary);
}

.icon-arrow-right {
  display: inline-block;
  background-image: url("../../assets/images/icons/arrow-right.svg");
  width: 12px;
  height: 10px;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 210px;
}

.hero-text-box {
  padding-left: 132px;
}

.hero-title-sub {
  font-size: var(--size-very-small);
  color: var(--color-olivine);
  font-weight: 700;
  margin-bottom: 30px;
}

.hero-title-heading {
  font-size: var(--size-large);
  color: var(--color-second);
  font-weight: 700;
  margin-bottom: 30px;
  margin-top: 0;
  line-height: 80px;
  letter-spacing: 0.2px;
}

.hero-description {
  color: var(--color-primary);
  font-size: var(--size-medium);
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 30px;
  width: 389px;
}
