.box {
  display: flex;
  justify-content: space-between;
}

.box-small {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  align-content: flex-start;
  flex-wrap: wrap-reverse;
  justify-content: flex-start;
  width: 111.609px;
  height: 176.957px;
  background-color: var(--color-pepermint, #eff8ed);
}

.box-large {
  width: 604.145px;
  height: 700px;
  background-color: var(--color-pepermint, #eff8ed);
}

.container-fluid-header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.container-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 59px;
}

.container-header .nav-menu {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: 240px;
}

.container-header .nav-menu .nav-list {
  display: flex;
}

.container-header .nav-list {
  list-style: none;
}

.nav-item {
  margin: 0 12px;
  font-size: var(--size-very-small);
}

.nav-auth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-sig-in {
  color: var(--color-olivine);
  border: none;
  background: none;
}

.nav-link {
  font-weight: 700;
  text-decoration: none;
}

.link-item {
  color: var(--color-primary);
}

.icon-arrow-right {
  display: inline-block;
  background-image: url("../../assets/images/icons/arrow-right.svg");
  width: 12px;
  height: 10px;
}
