.header {
  position: relative;
}

.rectangle-small,
.rectangle-large {
  position: absolute;
  z-index: -1;
}

.rectangle-large {
  right: 0;
}

.header-top {
  display: flex;
  align-items: center;
  padding-top: 17px;
  justify-content: center;
}

.navbar {
  align-items: center;
  gap: 18px;
  padding-top: 25px;
  display: flex;
}

.navbar .logo {
  margin-left: 196px;
  margin-right: 23px;
}

.navbar .nav-list {
  display: flex;
}

.container-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 59px;
}

.nav-item {
  font-size: var(--size-very-small);
  margin: 0 11px;
}

.nav-auth {
  align-items: center;
  gap: 43px;
  margin-left: 202px;
  display: flex;
}

.box-btn {
  display: flex;
  align-items: center;
  gap: 6px;
}

.nav-link {
  font-weight: var(--font-weight-bold);
  text-decoration: none;
}

.link-item {
  color: var(--color-primary);
}

.link-item:hover {
  border-bottom: var(--border-color-primary);
}

.btn-primary-line {
  display: flex;
  align-items: center;
  gap: 9px;
}
.hero {
  display: flex;
  align-items: center;
  gap: 76px;
}

.hero-text-box {
  flex-direction: column;
  gap: 31px;
  max-width: 533px;
  margin-top: 23px;
  margin-left: 132px;
  display: flex;
}

.btn-box {
  display: flex;
  gap: 10px;
}

.hero-img-box {
  margin-top: 37px;
}

.hero-title-sub {
  font-size: var(--size-very-small);
  color: var(--color-olivine);
  font-weight: 700;
}

.hero-title-heading {
  font-size: var(--size-large);
  color: var(--color-second);
  letter-spacing: 0.2px;
  font-weight: 700;
  line-height: 80px;
}

.hero-description {
  color: var(--color-primary);
  font-size: var(--size-medium);
  font-weight: 400;
  line-height: 30px;
  width: 389px;
}
