button {
  font-family: Circular;
}

.btn {
  display: inline-block;
  border-radius: 100px;
  cursor: pointer;
}

.btn-log-in {
  border: none;
  background-color: transparent;
  font-weight: var(--font-weight-bold);
  font-size: 0.875rem;
}

.btn-log-in:hover {
  border: none;
  background-color: var(--background-color-primary);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  padding: 16px 32px;
  font-size: 0.875rem;
  transition: 0.5s;
}

.btn-sign-up {
  border: none;
  background-color: var(--background-color-primary);
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  padding: 16px 32px;
  font-size: 0.875rem;
}

.btn-sign-up:hover {
  color: var(--color-ebony-clay);
  background-color: var(--color-white);
  transition: 0.5s;
}

.btn-light {
  display: flex;
  align-items: center;
  padding: 16px 32px 16px 32px;
  color: var(--color-second);
  font-weight: var(--font-weight-bold);
  /* font-size: calc(14 / 16) * 1rem; */
  border: none;
  background-color: var(--color-white);
  box-shadow: var(--box-shadow-outline);
}

.btn-outline {
  width: 398px;
  height: 65px;
  text-align: center;
  font-weight: var(--font-weight-bold);
  color: var(--color-white);
  padding: 24px 32px 24px 32px;
  background-color: var(--background-color-primary);
}

.btn-full {
  width: 398px;
  height: 65px;
  text-align: center;
  font-weight: var(--font-weight-bold);
  padding: 24px 32px 24px 32px;
  background-color: var(--color-white);
  border: 1px solid rgb(238, 238, 238);
  display: flex;
  align-items: center;
  justify-content: center;
}
