.btn {
  display: inline-block;
  font-family: "Montserrat";
  border-radius: 5px;
  color: var(--color-light);
  font-size: var(--size-very-small);
  cursor: pointer;
  font-weight: 700;
}

.btn-primary {
  border: none;
  background-color: var(--color-olivine);
  padding: 15px 25px;
}

.btn-full {
  background-color: var(--color-olivine);
  padding: 15px 40px;
  border: none;
}

.btn-outline {
  color: var(--color-olivine);
  background-color: var(--color-light);
  border: 1px solid var(--color-olivine);
  padding: 15px 40px;
}

.btn-line {
  color: var(--color-olivine);
  border-radius: 37px;
  padding: 10px 20px;
  background-color: var(--color-light);
  border: 1px solid var(--color-olivine);
}

.btn-learn-full {
  box-sizing: border-box;
  color: var(--color-olivine);
  border-radius: 37px;
  padding: 10px 20px;
  background-color: var(--color-light);
  border: 1px solid var(--color-olivine);
  text-decoration: none;
}

.btn-lg {
  width: 240px;
  height: 52px;
  background-color: var(--color-olivine);
  padding: 15px 40px;
  border: none;
}

.btn-form {
  width: 117px;
  height: 58px;
  padding: 15px 22px;
  border-radius: 0px 5px 5px 0px;
  border: 1px solid #e6e6e6;
  background-color: var(--color-olivine);
  position: absolute;
  right: 0%;
}
