/* Start card course */
.card-course {
  width: 238px;
  height: 288px;
  padding: 35px 40px;
  box-shadow: var(--box-shadow-color-primary);
}
/* End card course */

/* Start Card Product */
.product-card {
  width: 232px;
  height: auto;
}
/* End Card Product */
