.cards {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-around;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 1 20%;
}

.card-item {
  box-shadow: var(--box-shadow-color-primary);
}

