.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-logo {
  width: 100%;
  max-width: 40px;
  height: 40px;
  block-size: auto;
}

.icon-bag {
  background-image: url("/src/assets/images/icons/icon-bag.svg");
  width: 20px;
  height: 20px;
  margin-left: 18px;
}

.icon-play {
  background-image: url("/src/assets/images/icons/icon-play.svg");
  width: 20px;
  height: 20px;
}
