.form-control {
  font-family: Adamina;
  width: 100%;
  font-size: 0.875rem;
  font-weight: #191825BF;
}

@media (min-width: 768px) { 
  .form-control {
    font-size: 1.278rem;
    line-height: 1.533rem;
  }
}
