.heading-sub {
  color: var(--color-second);
  font-size: calc(16 / 14) rem;
  font-weight: var(--font-weight-bold);
}

.section-heading {
  color: var(--color-primary);
  font-size: calc(32 / 14) rem;
  font-weight: var(--font-weight-bold);
}

.text-center {
  text-align: center;
}



.heading-secondary {
  font-family: Adamina;
  font-weight: var(--font-weight-regular);
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-primary);
  margin-top: 1rem;
}
