.text-center {
  text-align: center;
}

.heading-secondary {
  font-family: Adamina;
  font-weight: var(--font-weight-regular);
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--color-primary);
  margin-top: 1rem;
}

.subheading {
  font-family: Adamina;
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--color-second);
}
