.section-cta {
  margin-top: 163px;
  padding: 0 16px;
}

.cta {
  background-color: #facd4914;
  padding: 64px 32px;
  border-radius: 32px
}

.cta-text-box {
  margin-top: 64px;
}

.cta-email-input {
  position: relative;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-absolute {
  position: absolute;
  left: 8%;
  top: 19%;
}

.subheading-letter-space {
  letter-spacing: 0.2rem;
}

.input-email {
  border: none;
  border-radius: 16px;
  margin-bottom: 32px;
  padding: 24px 70px;
}

@media (min-width: 1024px) {
  .section-cta {
    margin-top: 168px;
    padding: 0 64px;
  }

  .cta {
    padding: 128px 64px;
  }

  .subheading-letter-space {
    letter-spacing: 0.178rem;
  }

  .icon-absolute {
    position: absolute;
    top: 31%;
    left: 6%;
  }

  .cta-email-input {
    flex-grow: 1;
  }

  .input-email {
    margin-bottom: 0;
    padding: 23px 76px;
  }

  .cta-form {
    display: flex;
    gap: 32px;
  }

  .btn-form {
    width: 237px;
  }
}

@media (min-width: 1400px) {
  .section-cta {
    padding: 0 128px;
  }

  .cta-email-input {
    flex-grow: 1;
  }

  .icon-absolute {
    position: absolute;
    top: 31%;
    left: 5%;
  }

  .input-email {
    padding: 23px 70px;
  }

  .btn-form {
    width: 237px;
  }
}
