.section-hero {
  padding: 32px 16px;
}

.wrapper-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-img-block {
  max-width: 396.29px;
  max-height: 366px;
}

.hero-img {
  max-width: 100%;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-primary {
  font-weight: var(--font-weight-regular);
  font-size: 2.5rem;
  line-height: 3rem;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  text-align: center;
}

.heading-primary .text-black {
  color: var(--color-black);
}

.heading-primary .text-pink {
  color: var(--color-second);
}

.hero-description {
  color: var(--color-primary-transparency);
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 2rem;
  text-align: center;
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 398px;
  width: 100%;
}

@media (min-width: 1024px) {
  html {
    font-size: 112.5%;
  }

  .section-hero {
    padding: 64px 64px;
  }
   
  .hero-img-box {
    width: 712px;
    height: 713px;
  }

  .heading-primary {
    font-size: 2.667rem;
    line-height: 3.2rem;
    margin-top: 2.389rem;
    margin-bottom: 2.389rem;
  }

  .hero-description {
    font-size: 1rem;
    line-height: 1.6rem;
  }

  .btn-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 43px;
    min-width: 398px;
    width: 100%;
  }

  .hero-img-block {
    text-align: center;
    max-width: 772px;
    max-height: 713px;
  }

  .hero-text-box {
    margin-top: 3.556rem;
  }

  .text-style {
    display: block;
  }

  /* Button media queri*/
  .btn-outline,
  .btn-full {
    font-size: 0.778rem;
    padding: 16px 29px;
  }
}

@media (min-width: 1440px) {
  .section-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 64px 128px;
  }

  .heading-primary {
    text-align: unset;
    font-size: 2.667rem;
    line-height: 4.267rem;
  }

  .hero-text-box {
    display: flex;
    align-items: flex-start;
    max-width: 412px;
    margin: 0;
    order: -1;
  }

  .hero-description {
    text-align: unset;
    font-size: 1rem;
    line-height: 1.6rem;
    margin-bottom: 2.389rem;
  }

  .text-style {
    display: block;
  }

}
