.packages-video {
  position: relative;
}

.btn-video {
  position: absolute;
  background-image: url("/src/assets/images/icons/btn-circle.svg");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
