.section-packages {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 160px 195px;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

/* .heading-sub {
  position: relative;
} */

/* .heading-sub::before {
  content: "";
  position: absolute;
  width: 94px;
  height: 7px;
  background: var(--color-danger);
  top: -35px;
  left: 0;
} */

.packages-video {
  position: relative;
}

.btn-video {
  position: absolute;
  background-image: url("/src/assets/images/icons/btn-circle.svg");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
