.section-packages { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 73px;
  margin: 294px 195px;
}

.content-packages {
  display: flex;
  flex-direction: column;
  gap: 35px;
  max-width: 507px;
}

.content-packages .heading-sub {
  margin-top: 55px;
  line-height: 50px;
  position: relative;
}

.content-packages .text-primary {
  max-width: 351px;
}
.content-packages .heading-sub::before {
  content: "";
  background: var(--color-danger);
  width: 94px;
  height: 7px;
  position: absolute;
  top: -42px;
  left: 0;
}

.content-packages .nav-learn {
  color: var(--color-olivine);
  display: flex;
  gap: 10px;
}

.content-packages .icon-arrow {
  width: 9px;
  height: 16px;
  background-image: url('/src/assets/images/icons/arrow-next.svg');
}


.packages-video {
  position: relative;
}

.packages-video .img-video {
  border-radius: 25px;
}

.btn-video {
  position: absolute;
  background-image: url("/src/assets/images/icons/btn-circle.svg");
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  border: none;
  background-color: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
