.section-popular-course {
  margin-top: 112px;
}

.content {
  max-width: 691px;
  margin-bottom: 112px;
}

.section-tag {
  font-size: var(--size-very-small);
  color: var(--color-olivine);
  font-weight: 700;
  margin-bottom: 10px;
}

.title-heading {
  color: var(--color-second);
  font-size: var(--size-large);
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 50px;
  letter-spacing: 0.2px;
}

.section-popular-course .description {
  color: var(--color-primary);
  font-size: var(--size-very-small);
  font-weight: 400;
  line-height: 20px;
  max-width: 469px;
}

.course-card {
  display: flex;
  align-items: center;
  gap: 30px;
}

.card-title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-second);
  font-size: var(--size-small);
  font-weight: 700;
}

.card-description {
  position: relative;
  line-height: 20px;
  margin-top: 20px;
  font-weight: 400;
  font-size: var(--size-very-small);
  color: var(--color-primary);
  max-width: 132px;
}

.card-description::before {
  position: absolute;
  content: "";
  background-color: var(--color-danger);
  width: 50px;
  height: 2px;
  top: -10px;
}

.item-isolation {
  background-color: var(--color-olivine);
}

.btn-learn {
  color: var(--color-olivine);
  display: flex;
  align-content: center;
  align-items: flex-start;
  gap: 10px;
  margin: 0;
}

.btn-learn::after {
  content: url("../../assets/images/icons/arrow-next.svg");
}
