.section-popular-course {
  padding: 112px 195px;
}

.content {
  max-width: 691px;
  margin-bottom: 112px;
}

.card-item-course {
  box-shadow: var(--box-shadow-color-primary);
  padding: 35px 40px;
}

.card-item-course-full {
  background-color: var(--color-olivine);
}

.card-title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-second);
  font-size: var(--size-small);
  font-weight: 700;
}

.card-description {
  position: relative;
  line-height: 20px;
  margin-top: 20px;
  font-weight: 400;
  font-size: var(--size-very-small);
  color: var(--color-primary);
  max-width: 132px;
}

.card-description::before {
  position: absolute;
  content: "";
  background-color: var(--color-danger);
  width: 50px;
  height: 2px;
  top: -10px;
}

.item-isolation {
  background-color: var(--color-olivine);
}
