.section-popular-course {
  margin-left: 195px;
  margin-right: 195px;
}

.content-course {
  flex-direction: column;
  gap: 18px;
  margin-top: 116px;
  margin-bottom: 112px;
  display: flex;
  flex-wrap: wrap;
}

.card-item-course {
  align-items: flex-start;
  gap: 5px;
  box-shadow: var(--box-shadow-color-primary);
  padding: 35px 40px;
}

.card-item-course-full {
  background-color: var(--color-olivine);
}

.card-title {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-second);
  font-size: var(--size-small);
  font-weight: var(--font-weight-bold);
}

.card-description {
  position: relative;
  line-height: 20px;
  margin-top: 20px;
  font-weight: var(--font-weight-normal);
  font-size: var(--size-very-small);
  color: var(--color-primary);
  max-width: 132px;
}

.card-description::before {
  position: absolute;
  content: "";
  background-color: var(--color-danger);
  width: 50px;
  height: 2px;
  top: -21px;
}

.item-isolation {
  background-color: var(--color-olivine);
}
