.section-popular-course {
	margin-top: 112px;
}

.content {
	max-width: 691px;
	margin-bottom: 112px;
}

.section-popular-course .title-sub {
	font-size: var(--size-very-small);
	color: var(--color-olivine);
	font-weight: 700;
	margin-bottom: 10px;
}

.title-heading {
	color: var(--color-second);
	font-size: var(--size-large);
	font-weight: 700;
	margin-bottom: 10px;
	line-height: 50px;
	letter-spacing: 0.2px;
}

.section-popular-course .description {
	color: var(--color-primary);
	font-size: var(--size-very-small);
	font-weight: 400;
	line-height: 20px;
	max-width: 469px;
}

.course-card {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 30px;
}


