.section-quality {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 160px;
  margin-bottom: 160px;
}

.quality-content {
  width: 381px;
}

.nav-learn {
  color: var(--color-olivine);
  display: flex;
  align-content: center;
  align-items: flex-start;
  gap: 10px;
  margin: 0;
}

.nav-learn::after {
  content: url("../../assets/images/icons/arrow-next.svg");
}
