.wrapper-section {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 0;
}

.card-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.service-content {
  font-family: Adamina;
  font-weight: var(--font-weight-regular);
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--color-primary);
  margin-top: 32px;
}

.service-description {
  font-family: Inter;
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  line-height: 1.6rem;
  color: var(--color-primary-transparency);
  margin-top: 32px;
}

.img-service {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 768px) {
  .wrapper-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 64px 0;
  }

  .service-content {
    margin-top: 64px;
  }

  .service-description {
    margin-top: 32px;
    text-align: center;
  }
}

@media (min-width: 1025px) {
  .wrapper-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    padding: 64px 0;
  }

  .heading-box {
    min-width: 444px;
    text-align: unset;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .card-service {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 21px;
    margin: 0;
    overflow: hidden;
  }

  .card-service {
    overflow-x: scroll;
  }

  .card-service::-webkit-scrollbar {
    background-color: transparent;
    height: 8px;
  }

  .card-service:hover::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .2);
  }

  .card-item-service {
    min-width: 350px;
  }
}
