.section-services {
  padding: 32px 16px;
}

.wrapper-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.card-service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.service-content {
  font-family: Adamina;
  font-weight: var(--font-weight-regular);
  font-size: 1.5rem;
  line-height: 1.8rem;
  color: var(--color-primary);
  margin-top: 32px;
}

.service-description {
  font-family: Inter;
  font-weight: var(--font-weight-regular);
  font-size: 1rem;
  line-height: 1.6rem;
  color: var(--color-primary-transparency);
  margin-top: 32px;
}

.card-item-service {
  padding: 32px;
  border: var(--border-primary);
  border-radius: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-service {
  width: 4rem;
  height: 4rem;
}

.card-item-service:hover {
  box-shadow: var(--box-shadow-card);
}

@media (min-width: 1024px) {
  .section-services {
    padding: 64px 64px;
  }

  .wrapper-section {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card-service {
    display: flex;
    flex-direction: row;
    margin-top: 3.556rem;
  }

  .card-item-service {
    padding: 64px;
  }

  .service-content {
    margin-top: 64px;
  }

  .service-description {
    margin-top: 32px;
    text-align: center;
  }
}

@media (min-width: 1400px) {
  .section-services {
    padding: 0 128px;
  }

  .wrapper-section {
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow: hidden;
    padding: 64px 0;
  }

  .heading-box {
    min-width: 444px;
    text-align: unset;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .card-service {
    margin: 0;
  }

  .card-item-service {
    min-width: 350px;
  }
}
