.section-testimonials {
  margin-top: 44px;
  padding: 32px 16px;
}

.text-center {
  text-align: center;
}

.carousel {
  position: relative;
}

.carousel-testimonials {
  flex-direction: column;
  align-items: center;
}

.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
}

.testimonial-rate {
  display: flex;
  gap: 20px;
}

.carousel-inner {
  text-align: center;
}

.testimonial-name {
  font-size: 1.438rem;
  line-height: 1.725rem;
  color: var(--color-orange);
  margin-top: 64px;
  text-align: center;
}

.nickname {
  color: #191825bf;
}

.testimonial-rate {
  margin-top: 32px;
}

.testimonial-des {
  font-size: 1rem;
  line-height: 1.6rem;
  text-align: center;
  margin-top: 64px;
  color: #191825bf;
}

.carousel-control {
  justify-content: center;
  display: flex;
  align-items: center;
}

.dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.dot {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #1918250d;
  border-radius: 50%;
}

.left {
  position: absolute;
  left: 0;
  bottom: -27%;
}

.right {
  position: absolute;
  right: 0;
  bottom: -27%;
}

@media (min-width: 1024px) {
  .section-testimonials {
    padding: 0;
    margin: 0;
  }

  .testimonial {
    background-image: url("/src/assets/images/testimonials/carousel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container-testimonial {
    padding: 64px 64px;
  }

  .carousel-item {
    padding: 0 156px;
  }

  .testimonial-name {
    font-size: 1.278rem;
    line-height: 1.533rem;
    margin-top: 56px;
  }

  .testimonial-des {
    font-size: 1rem;
    line-height: 1.6rem;
    margin-top: 56px;
  }

  .dots {
    margin-top: 56px;
  }

  .left {
    position: absolute;
    left: 0;
    top: 30%;
  }

  .right {
    position: absolute;
    right: 0;
    top: 30%;
  }
}

@media (min-width: 1400px) {
  .testimonial {
    background-image: url("/src/assets/images/testimonials/carousel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .container-testimonial {
    padding: 128px 128px 0 128px;
    margin-top: 8px;
  }

  .left {
    position: absolute;
    left: 0;
    top: 37%;
  }

  .right {
    position: absolute;
    right: 0;
    top: 37%;
  }
}
