.section-trademark {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 0;
}

.trademark-box {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 27px;
}

/* .trademark-top {
  display: flex;
  gap: 27px;
} */

/* .trademark-bottom {
  display: flex;
  gap: 26px;
} */

@media (min-width:768px) {
  .trademark-box {
    flex-direction: row;
    align-items: center;
    gap: 32px;
    padding: 64px 0;
  }
}

@media (min-width: 1200px) {
  .section-trademark {
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    
  }
  .trademark-box {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
}
