.trademark-box {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 27px;
  padding: 32px 0;
}

@media (min-width:768px) {
  .section-trademark {
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  .trademark-box {
    flex-direction: row;
    max-width: 704px;
    align-items: center;
    gap: 32px;
    padding: 64px 0;
  }
}

@media (min-width: 1025px) {
  .section-trademark {
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    padding: 0 128px;
    margin-top: 0;
  }

  .trademark-box {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }
}
