.section-travelpoint {
  padding: 32px 16px;
}

.img-travelpoint {
  max-width: 100%;
}

.box-content-travelpoint {
  margin-top: 64px;
}

.heading-box {
  text-align: center;
}

.description-travelpoint {
  font-size: 1rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.6rem;
  color: #19182550;
  margin-top: 2rem;
}

.card-treatment {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 32px;
}

.card-item-treatment {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  border: var(--border-primary);
  border-radius: 32px;
  padding: 32px;
}

.amount {
  font-size: 2.188rem;
  font-weight: var(--font-weight-regular);
  line-height: 2.625rem;
  color: var(--color-orange);
}

.treatment-label {
  font-size: 1.125rem;
  font-weight: var(--font-weight-regular);
  line-height: 1.8rem;
  color: var(--color-primary);
}

@media (min-width:768px) {
  .section-travelpoint {
    padding: 0 64px;
  }

  .wrapper-travelpoint {
    padding: 64px 32px;
  }

  .img-travelpoint {
    width: 896px;
    max-width: 100%;
  }

  .statistical-box {
    text-align: center;
  }

  .description-travelpoint {
    margin-top: 1.778rem;
  }

  .card-treatment {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 64px;
  }

  .amount {
    font-size: 1.944rem;
    line-height: 2.333rem;
  }

  .treatment-label {
    font-size: 1rem;
    line-height: 1.6rem;
  }
}


@media (min-width: 1025px) {
  .section-travelpoint {
    padding: 0 64px;
  }

  .trademark-box {
    max-width: none;
  }


  .wrapper-travelpoint {
    display: flex;
    align-items: flex-start;
    padding: 65px 0;
  }

  .img-travelpoint {
    max-width: 100%;
  }

  .box-content-travelpoint {
    margin-top: 0;
  }

  .heading-box {
    max-width: 441px;
    text-align: unset;
  }

  .card-treatment {
    margin-top: 64px;
    gap: 32px;
  }

  .card-item-treatment {
    gap: 32px;
    padding: 23px;
    display: flex;
  }
}
