/* Start Header */
.header-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  text-decoration: none;
}

.navbar {
  display: grid;
  grid-template-columns: 1fr auto;
  padding-top: 32px;
  padding-bottom: 32px;
}

.name-logo {
  font-size: 1.5rem;
  font-weight: var(--font-weight-black);
  line-height: 2.5rem;
  color: var(--color-primary);
}

label {
  cursor: pointer;
}

#menu-toggle {
  display: none;
}

.nav-mobile {
  display: none;
}

#menu-toggle:checked + .nav-mobile {
  display: block;
  text-align: center;
  display: flex;
  justify-content: space-around;
  grid-column: span 2;
}

.nav-link {
  text-decoration: none;
}

.nav-menu {
  display: flex;
  flex-direction: column;
  gap: 15;
}

.nav-item {
  font-size: 1rem;
}
