:root {
  /* Define 1rem is 16px */
  --font-size-base: 16;

  --font-size-xxsmall: calc(14 / var(--font-size-base)) rem;
  --font-size-xsmall: calc(16 / var(--font-size-base)) rem;
  --font-size-small: calc(18 / var(--font-size-base)) rem;
  --font-size-medium: calc(24 / var(--font-size-base)) rem;

  --color-primary: #191825;
  --color-second: #f85e9f;
  --color-ebony-clay: #222831;
  --color-orange: #ff5722;
  --color-bright-sun: #facd49;
  --color-white: #ffffff;

}
