:root {
  --color-primary: #737373;
  --color-second: #252b42;
  --color-olivine: #96bb7c;
  --color-light: #ffff;
  --color-danger: #e74040;

  --box-shadow-color-primary: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);

  --size-very-small: 14px;
  --size-small: 16px;
  --size-medium: 20px;
  --size-big: 40px;
  --size-large: 58px;

  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-style-default: normal;
}
