<!-- Star section cta -->
<section class="section-cta">
  <div class="cta">
    <div class="text-center">
      <span class="subheading subheading-letter-space">subscribe to our newsletter</span>
      <h2 class="heading-secondary">Prepare yourself & let’s explore the beauty of the world</h2>
    </div>
    <div class="cta-text-box">
      <form action="" method="post" class="cta-form" name="subscribe">
        <div class="cta-email-input">
          <span class="icon icon-email icon-absolute"></span>
          <input class="form-control input-email" type="email" name="Email" placeholder="Your Email" required>
        </div>
        <button class="btn btn-form">Subscribe</button>
      </form>
    </div>
  </div>
</section>
<!-- End section cta -->
