<section class="section-cta">
    <div class="cta-text">
        <span class="section-tag text-center">Newsletter</span>
        <h2 class="section-heading">Our Experts Teacher</h2>
        <p class="text-primary">
            Problems trying to resolve the conflict between
            the two major realms of Classical physics: Newtonian mechanics
        </p>
    </div>
    <form method="post" class="cta-form">
        <div class="cta-email-input">
            <input class="form-input cta-input" type="email" placeholder="Your Email" required>
            <button type="submit" class="btn btn-form">Subscribe</button>
        </div>
    </form>
</section>