<!-- Start section destination -->
<section class="container">
  <div class="section-destination">
    <div class="box-content-top">
      <div class="heading-content">
        <span class="subheading">Top Destination</span>
        <h2 class="heading-secondary">Explore top destination</h2>
      </div>
      <div class="button-group">
        <button aria-label="control" class="btn btn-circle-light"><span class="icon icon-arrow-left"></span></button>
        <button aria-label="control" class="btn btn-circle-full"><span class="icon icon-arrow-right"></span></button>
      </div>
    </div>
    <div class="card card-destination">
      <div class="card-item-destination">
        <img src="/src/assets/images/destination/paradise-beach.jpg" class="card-image border-img" alt="paradise beach">
        <div class="card-body">
          <div class="destination-box">
            <p class="price-destination">$550.16</p>
            <h3 class="title-destination">Paradise Beach, Bantayan Island</h3>
          </div>
          <p class="place-destination">Rome, Italy</p>
          <p class="rate-destination text-center">4.8 <span class="icon icon-star"></span></p>
        </div>
      </div>
      <div class="card-item-destination">
        <img src="/src/assets/images/destination/ocean.jpg" class="card-image border-img" alt="paradise beach">
        <div class="card-body">
          <div class="destination-box">
            <p class="price-destination">$20.99</p>
            <h3 class="title-destination">Ocean with full of Colors</h3>
          </div>
          <p class="place-destination">Maldives</p>
          <p class="rate-destination">4.5<span class="icon icon-star"></span></p>
        </div>
      </div>
      <div class="card-item-destination">
        <img src="/src/assets/images/destination/mountain.jpg" class="card-image border-img" alt="paradise beach">
        <div class="card-body">
          <div class="destination-box">
            <p class="price-destination">$150.99</p>
            <h3 class="title-destination">Mountain View, Above the cloud</h3>
          </div>
          <p class="place-destination">United Arab Emeries</p>
          <p class="rate-destination">5.0<span class="icon icon-star"></span></p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End section destination -->
