<!-- Start section feature -->
<section class="container section-feature">
  <div class="wrapper-section-feature">
    <figure class="img-feature-box">
      <img
        srcset="/src/assets/images/feature/img-feature-screen-desktop.webp 591w,
      /src/assets/images/feature/img-feature-screen-tablet.webp 693w, /src/assets/images/feature/img-feature-screen-mobile.webp 350w"
        sizes="(min-width:1025px) 591px, (min-width:768px) 693px, 350px"
        src="/src/assets/images/feature/img-feature-screen-mobile.webp" class="img-feature" alt="Travel world">
    </figure>
    <div class="box-content-feature">
      <div class="box-heading">
        <span class="subheading">Key features</span>
        <h2 class="heading-secondary">We offer best services</h2>
        <p class="description-feature">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
          in a piece of classical Latin literature from 45 BC.</p>
      </div>
      <div class="card card-feature">
        <article class="card-item-feature">
          <div class="box-icon box-icon-location">
            <svg class="icon-location">
              <use xlink:href="/src/assets/images/icons/location.svg#icon-location"></use>
            </svg>
          </div>
          <hgroup class="content-feature">
            <h3 class="title-service">We offer best services</h3>
            <p class="description-service">Lorem Ipsum is not simply random text</p>
          </hgroup>
        </article>
        <article class="card-item-feature">
          <div class="box-icon box-icon-calendar">
            <svg class="icon-calendar">
              <use xlink:href="/src/assets/images/icons/calendar.svg#icon-calendar"></use>
            </svg>
          </div>
          <hgroup class="content-feature">
            <h3 class="title-service">Schedule your trip</h3>
            <p class="description-service">It has roots in a piece of classical</p>
          </hgroup>
        </article>
        <article class="card-item-feature">
          <div class="box-icon box-icon-ticket">
            <svg class="icon-ticket">
              <use xlink:href="/src/assets/images/icons/ticket.svg#icon-ticket"></use>
            </svg>
          </div>
          <hgroup class="content-feature">
            <h3 class="title-service">Get discounted coupons</h3>
            <p class="description-service">Lorem Ipsum is not simply random text</p>
          </hgroup>
        </article>
      </div>
    </div>
  </div>
</section>
<!-- End section feature -->
