<!-- Start footer -->
<footer class="footer">
  <div class="footer-top">
    <nav class="nav-col">
      <p class="footer-heading">Company Info</p>
      <ul class="nav-footer">
        <li><a class="footer-link" href="#">About Us</a></li>
        <li><a class="footer-link" href="#">Carrier</a></li>
        <li><a class="footer-link" href="#">We are hiring</a></li>
        <li><a class="footer-link" href="#">Blog</a></li>
      </ul>
    </nav>
    <nav class="nav-col">
      <p class="footer-heading">Legal</p>
      <ul class="nav-footer">
        <li><a class="footer-link" href="#">About Us</a></li>
        <li><a class="footer-link" href="#">Carrier</a></li>
        <li><a class="footer-link" href="#">We are hiring</a></li>
        <li><a class="footer-link" href="#">Blog</a></li>
      </ul>
    </nav>
    <nav class="nav-col">
      <p class="footer-heading">Features</p>
      <ul class="nav-footer">
        <li><a class="footer-link" href="#">Business Marketing</a> </li>
        <li><a class="footer-link" href="#">User Analytic</a></li>
        <li><a class="footer-link" href="#">Live Chat</a></li>
        <li><a class="footer-link" href="#">Unlimited Support</a></li>
      </ul>
    </nav>
    <nav class="nav-col">
      <p class="footer-heading">Resources</p>
      <ul class="nav-footer">
        <li><a class="footer-link" href="#">IOS & Android</a></li>
        <li><a class="footer-link" href="#">Watch a Demo</a></li>
        <li><a class="footer-link" href="#">Customers</a></li>
        <li><a class="footer-link" href="#">API</a></li>
      </ul>
    </nav>
    <nav class="nav-col">
      <p class="footer-heading">Get In Touch</p>
      <address class="address-contacts">
        <div class="address-row">
          <span class="icon icon-phone"></span>
          <a class="footer-link" href="tel:555-0103">(480) 555-0103</a>
        </div>
        <div class="address-row">
          <span class="icon icon-map"></span>
          <p class="address">4517 Washington Ave. Manchester, Kentucky 39495</p>
        </div>
        <div class="address-row">
          <span class="icon icon-mail"></span>
          <a class="footer-link" href="mailto:debra.holt@example.com">debra.holt@example.com</a>
        </div>
      </address>
    </nav>
  </div>
  <div class="footer-bottom">
    <p class="copyright">Made With Love By Figmaland All Right Reserved </p>
    <div class="social-links">
      <a href="https://www.facebook.com/" aria-label="Link to facbook"><svg class="social-icon"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="/src/assets/images/icons/social-facebook.svg#facebook-social"></use>
        </svg></a>
      <a href="https://www.instagram.com/" aria-label="Link to intagram"><svg class="social-icon"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="/src/assets/images/icons/social-instagram.svg#instagram-social"></use>
        </svg></a>
      <a href="https://twitter.com/" aria-label="Link to twitter"><svg class="social-icon"
          xmlns:xlink="http://www.w3.org/1999/xlink">
          <use xlink:href="/src/assets/images/icons/social-twitter.svg#twitter-social"></use>
        </svg></a>
    </div>
  </div>
</footer>
<!-- End Footer -->