<!-- Start footer -->
<footer class="footer">
  <div class="footer-wrapper">
    <div class="logo-col">
      <a href="#" class="footer-logo">
        <img class="icon-logo" src="/src/assets/images/logo/logo.png" alt="Logo Travlog">
        <h2 class="name-logo">Travlog</h2>
      </a>
      <p class="description-info">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
        piece of classical Latin
        literature from 45 BC.</p>
      <ul class="social-links">
        <li>
          <a class="footer-link" href="#"><svg class="social-icon-svg">
              <use xlink:href="/src/assets/images/icons/social-icon.svg#icon-facebook"></use>
            </svg></a>
        </li>
        <li>
          <a class="footer-link" href="#"><svg class="social-icon-svg">
              <use xlink:href="/src/assets/images/icons/social-icon.svg#icon-instagram"></use>
            </svg></a>
        </li>
        <li>
          <a class="footer-link" href="#"><svg class="social-icon-svg">
              <use xlink:href="/src/assets/images/icons/social-icon.svg#icon-twitter"></use>
            </svg></a>
        </li>
      </ul>
    </div>
    <div class="nav-cols">
      <nav class="nav-col">
        <p class="footer-heading">Company</p>
        <svg class="arrow-down-icon-svg">
          <use xlink:href="/src/assets/images/icons/arrow-circle-down.svg#icon-arrow-down"></use>
        </svg>
        <ul class="footer-nav">
          <li><a class="footer-link" href="#">About</a></li>
          <li><a class="footer-link" href="#">Career</a></li>
          <li><a class="footer-link" href="#">Mobile</a></li>
        </ul>
      </nav>
      <nav class="nav-col">
        <p class="footer-heading">Contact</p>
        <svg class="arrow-down-icon-svg">
          <use xlink:href="/src/assets/images/icons/arrow-circle-down.svg#icon-arrow-down"></use>
        </svg>
        <ul class="footer-nav">
          <li><a class="footer-link" href="#">Why Travlog?</a></li>
          <li><a class="footer-link" href="#">Partner with us</a></li>
          <li><a class="footer-link" href="#">FAQ’s</a></li>
          <li><a class="footer-link" href="#">Blog</a></li>
        </ul>
      </nav>
      <div class="address-col">
        <p class="footer-heading">Meet Us</p>
        <svg class="arrow-down-icon-svg">
          <use xlink:href="/src/assets/images/icons/arrow-circle-down.svg#icon-arrow-down"></use>
        </svg>
        <address class="contacts">
          <a class="footer-link" href="tel:+00 92 1234 56789">+00 92 1234 56789</a>
          <a class="footer-link" href="mailto:info@travlog.com">info@travlog.com</a>
          <p class="address">205. R Street, New York BD23200 </p>
        </address>
      </div>
    </div>
  </div>
</footer>
<!-- End footer -->
