<footer>
    <div class="footer-top">
        <nav class="nav-col">
            <p>Company Info</p>
            <ul class="nav-footer">
                <li><a class="footer-link" href="#">About Us</a></li>
                <li><a class="footer-link" href="#">Carrier</a></li>
                <li><a class="footer-link" href="#">We are hiring</a></li>
                <li><a class="footer-link" href="#">Blog</a></li>
            </ul>
        </nav>
        <nav class="nav-col">
            <p>Legal</p>
            <ul class="nav-footer">
                <li><a class="footer-link" href="#">About Us</a></li>
                <li><a class="footer-link" href="#">Carrier</a></li>
                <li><a class="footer-link" href="#">We are hiring</a></li>
                <li><a class="footer-link" href="#">Blog</a></li>
            </ul>
        </nav>
        <nav class="nav-col">
            <p>Features</p>
            <ul class="nav-footer">
                <li><a class="footer-link" href="#">Business Marketing</a> </li>
                <li><a class="footer-link" href="#">User Analytic</a></li>
                <li><a class="footer-link" href="#">Live Chat</a></li>
                <li><a class="footer-link" href="#">Unlimited Support</a></li>
            </ul>
        </nav>
        <nav class="nav-col">
            <p>Resources</p>
            <ul class="nav-footer">
                <li><a class="footer-link" href="#"></a></li>
                <li><a class="footer-link" href="#">Watch a DemoIOS & Android</a></li>
                <li><a class="footer-link" href="#">Customers</a></li>
                <li><a class="footer-link" href="#">API</a></li>
            </ul>
        </nav>
        <nav class="nav-col">
            <p>Get In Touch</p>
            <ul class="nav-footer">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </nav>
    </div>
    <div class="footer-bottom">
        <p class="copyright">Made With Love By Figmaland All Right Reserved </p>
        <ul class="social-links">
            <li>
                <a href="#">
                    (480) 555-0103
                </a>
            </li>
            <li>
                <a href="#"></a>
            </li>
            <li>
                <a href="#"></a>
            </li>
        </ul>

    </div>
</footer>