<!-- Start header -->
<header class="header">
  <img class="rectangle-small" src="/src/assets/images/header/box-small-rectangle.png" alt="rectangle small">
  <img class="rectangle-large" src="/src/assets/images/header/box-rectangle.png" alt="rectangle large">
  <div class="header-content">
    <nav class="navbar">
      <a href="https://www.w3schools.com/" class="logo">
        <img src="/src/assets/images/logo/logo.png" alt="Medical Hardy" />
      </a>
      <ul class="nav-list">
        <li class="nav-item">
          <a class="nav-link link-item" href="https://www.w3schools.com/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-item" href="https://www.w3schools.com/">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-item" href="https://www.w3schools.com/">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link link-item" href="https://www.w3schools.com/">Contact</a>
        </li>
      </ul>
      <div class="nav-auth">
        <button class="btn btn-sig-in nav-link">Login</button>
        <button class="btn btn-primary btn-primary-line">JOIN US
          <span class="icon icon-arrow-right"></span>
        </button>
      </div>
    </nav>
    <section class="hero">
      <div class="hero-text-box">
        <span class="hero-title-sub">Online</span>
        <h1 class="hero-title-heading">HIGH QUALITY COURSES</h1>
        <p class="hero-description">
          Every day brings with it a fresh set of learning possibilities.
        </p>
        <div class="btn-box">
          <a href="https://developer.mozilla.org/en-US/docs/Web/HTML" class="btn btn-full">Get Quote Now</a>
          <a href="javascript:void(0)" class="btn btn-outline">Learn More</a>
        </div>
      </div>
      <div class="hero-img-box">
        <img class="hero-img" src="/src/assets/images/hero/hero-image.png" alt="img-hero" />
      </div>
    </section>
  </div>
</header>
<!-- End header -->