<!-- Start header -->
<header class="header-container">
  <nav class="navbar">
    <a class="header-logo" href="#"><img class="icon-logo" src="/src/assets/images/logo/logo.png" alt="Logo Travlog">
      <h1 class="name-logo">Travlog</h1>
    </a>
    <input type="checkbox" id="checkbox-toogle" />
    <label for="checkbox-toogle">
      <svg class="nav-mobile" viewBox="0 0 40 40" width="40px" height="40px">
        <use xlink:href="/src/assets/images/icons/nav-mobile.svg#nav-lines"></use>
      </svg>
    </label>

    <ul class="nav-menu">
      <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Discover</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Special Deals</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
    </ul>
    <div class="nav-auth">
      <button class="btn btn-log-in">Log In</button>
      <button class="btn btn-sign-up">Sign Up</button>
    </div>
  </nav>
</header>
<!-- End header -->
