<!-- Start section hero -->
<section class="section-hero">
  <div class="wrapper-hero">
    <figure class="hero-img-box">
      <img srcset="/src/assets/images/hero/img-hero-screen-desktop.webp 772w,
    /src/assets/images/hero/img-hero-screen-mobile.webp 396w" sizes="(min-width:1400px) 772px,(min-width:1024px) 772px,
      396px" src="/src/assets/images/hero/img-hero-screen-mobile.webp" class="hero-img" alt="Travel world" />
    </figure>
  </div>
  <div class="hero-text-box">
    <button class="btn btn-light">Explore the world!<span class="icon icon-bag"></span></button>
    <h2 class="heading-primary"><span class="text-black">Travel</span> <span class="text-pink">top
        destination</span>
      <span class="text-black text-style">of the world</span>
    </h2>
    <p class="hero-description">We always make our customer happy by providing <span class="text-style">
        as many choices as possible
      </span>
    </p>
    <div class="btn-group">
      <a href="#" class="btn btn-outline">Get Started</a>
      <a href="#" class="btn btn-full"><svg class="icon icon-play">
        <use xlink:href="/src/assets/images/icons/icon-play.svg#icon-play" />
      </svg>Watch Demo</a>
    </div>
  </div>
</section>
<!-- End section hero -->
