<!-- Start section package -->
<section class="section-quality">
    <div class="section-content">
        <h2 class="section-heading heading-sub">Approdable Packages</h2>
        <p class="text-primary">Problems trying to resolve the conflict between the two major realms of Classical
            physics: Newtonian mechanics</p>
        <a class="nav-link nav-learn" href="javascript:void(0)"><span class="nav-learn-text">Learn more</span></a>
    </div>
    <div class="packages-video">
        <div class="packages-image">
            <img class="img-default" src="/src/assets/images/course/video-thumb.jpg" alt="Thumb Video">
        </div>
        <button class="btn-video" type="button">
        </button>
    </div>
</section>
<!-- End section package -->