<!-- Start section package -->
<section class="section section-packages">
  <div class="content-packages">
    <h2 class="section-heading heading-sub">Approdable Packages</h2>
    <p class="text-primary">Problems trying to resolve the conflict between the two major realms of Classical
      physics: Newtonian mechanics</p>
    <a class="nav-link nav-learn" href="https://www.oleer.com/product-categories"><span class="text-learn">Learn
        more</span>
      <svg class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
        <path
          d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
      </svg>
    </a>
  </div>
  <div class="packages-video">
    <img class="img-video" src="/src/assets/images/course/video-thumb.jpg" alt="Thumb Video">
    <button aria-label="Play Music" class="btn btn-video" type="button">
    </button>
  </div>
</section>
<!-- End section package -->