<!-- Start section package -->
<section class="section section-packages">
  <div class="content-packages">
    <h2 class="section-heading heading-sub">Approdable Packages</h2>
    <p class="text-primary">Problems trying to resolve the conflict between the two major realms of Classical
      physics: Newtonian mechanics</p>
    <a class="nav-link nav-learn" href="https://developer.mozilla.org/en-US/docs/Web/HTML">Learn More<span
        class="icon icon-arrow"></span></a>
  </div>
  <div class="packages-video">
    <div class="packages-image">
      <img class="img-video" src="/src/assets/images/course/video-thumb.jpg" alt="Thumb Video">
    </div>
    <button aria-label="Play Music" class="btn btn-video" type="button">
    </button>
  </div>
</section>
<!-- End section package -->