<section class="section-popular-course">
  <div class="content">
    <h6 class="section-tag">Practice Advice</h6>
    <h2 class="title-heading">Our Popular Courses</h2>
    <p class="description">
      Problems trying to resolve the conflict between the two major realms
      of Classical physics: Newtonian mechanics
    </p>
  </div>
  <div class="cards">
    <div class="card card-item card-item-course">
      <img src="../src/assets/images/popular-course/desktop-screen.png" alt="Desktop Screen" />
      <h5 class="card-title">training Courses</h5>
      <p class="card-description">
        The gradual accumulation of information about
      </p>
    </div>
    <div class="card card-item card-item-course">
      <img src="../src/assets/images/popular-course/lens.png" alt="Desktop Screen" />
      <h5 class="card-title">training Courses</h5>
      <p class="card-description">
        The gradual accumulation of information about
      </p>
    </div>
    <div class="card card-item card-item-course card-item-course-full">
      <img src="../src/assets/images/popular-course/test-tube.png" alt="Desktop Screen" />
      <h5 class="card-title">Training Courses</h5>
      <p class="card-description">
        The gradual accumulation of information about
      </p>
    </div>
    <div class="card card-item card-item-course">
      <img src="../src/assets/images/popular-course/graduation.png" alt="Desktop Screen" />
      <h5 class="card-title">Expert instruction</h5>
      <p class="card-description">
        The gradual accumulation of information about
      </p>
    </div>
  </div>
</section>