<!-- Section popular course -->
<section class="section section-popular-course">
  <div class="content-course">
    <span class="section-tag">Practice Advice</span>
    <h2 class="section-heading">Our Popular Courses</h2>
    <p class="text-primary">
      Problems trying to resolve the conflict between<br> the two major realms
      of Classical physics: Newtonian mechanics
    </p>
  </div>
  <div class="card card-popular">
    <div class="card-item card-item-course">
      <img src="../src/assets/images/popular-course/desktop-screen.png" alt="Desktop Screen" />
      <h3 class="card-title">training Courses</h3>
      <p class="card-description">
        The gradual accumulation of information about
      </p>
    </div>
    <div class="card-item card-item-course">
      <img src="../src/assets/images/popular-course/lens.png" alt="Desktop Screen" />
      <h3 class="card-title">training Courses</h3>
      <p class="card-description">
        The gradual accumulation of information about
      </p>
    </div>
    <div class="card-item card-item-course">
      <img src="../src/assets/images/popular-course/test-tube.png" alt="Desktop Screen" />
      <h3 class="card-title">Training Courses</h3>
      <p class="card-description">
        The gradual information about atomic behaviour...
      </p>
    </div>
    <div class="card-item card-item-course">
      <img src="../src/assets/images/popular-course/graduation.png" alt="Desktop Screen" />
      <h3 class="card-title">Expert instruction</h3>
      <p class="card-description">
        The gradual accumulation of information about
      </p>
    </div>
  </div>
</section>
<!-- End section popular course -->
