<!-- Start section product -->
<section class="section-product-course">
    <div class="content">
        <span class="section-tag">Practice Advice</span>
        <h2 class="section-heading">Most Popular Courses</h2>
        <p class="text-primary">
            Problems trying to resolve the conflict between the two major realms of
            Classical physics: Newtonian mechanics
        </p>
    </div>
    <ul class="card card-product">
        <li class="card-item">
            <div class="product-cover">
                <span class="product-tag">Sale</span>
                <div class="product-image">
                    <img src="/src/assets/images/products/product-one.jpg" alt="Product" />
                </div>
                <div class="product-actions">
                    <div class="actions-icon">
                        <img src="/src/assets/images/icons/basket.svg" alt="icon" />
                    </div>
                    <div class="actions-icon">
                        <img src="/src/assets/images/icons/favorite.svg" alt="icon" />
                    </div>
                    <div class="actions-icon">
                        <img src="/src/assets/images/icons/like.svg" alt="icon" />
                    </div>
                </div>
            </div>
            <div class="product-detail">
                <div class="product-sec">
                    <p class="product-category">Training Courses</p>
                    <div class="product-raiting">
                        <span class="raiting-star"></span>
                        <span class="raiting-text">4.9</span>
                    </div>
                </div>
                <h3 class="product-title">Video in Live Action</h3>
                <p class="product-description">
                    We focus on ergonomics and meeting you....
                </p>
                <p class="product-sale">
                    <span class="frame-sec"></span>
                    <span class="sale-sec">15 Sales</span>
                </p>
                <p class="product-price">
                    <span class="price-sec">$16.48</span>
                    <span class="price-sec-line">$6.48</span>
                </p>
                <a href="javascript:void(0)" class="btn btn-learn-full">
                    Learn more
                </a>
            </div>
        </li>
        <li class="card-item">
            <div class="product-cover">
                <span class="product-tag">Sale</span>
                <div class="product-image">
                    <img src="/src/assets/images/products/product-two.jpg" alt="Product" />
                </div>
                <div class="product-actions">
                    <div class="actions-icon">
                        <img src="/src/assets/images/icons/basket.svg" alt="icon" />
                    </div>
                    <div class="actions-icon">
                        <img src="/src/assets/images/icons/favorite.svg" alt="icon" />
                    </div>
                    <div class="actions-icon">
                        <img src="/src/assets/images/icons/like.svg" alt="icon" />
                    </div>
                </div>
            </div>
            <div class="product-detail">
                <div class="product-sec">
                    <p class="product-category">Training Courses</p>
                    <div class="product-raiting">
                        <span class="raiting-star"></span>
                        <span class="raiting-text">4.9</span>
                    </div>
                </div>
                <h3 class="product-title">Video in Live Action</h3>
                <p class="product-description">
                    We focus on ergonomics and meeting you....
                </p>
                <p class="product-sale">
                    <span class="frame-sec"></span>
                    <span class="sale-sec">15 Sales</span>
                </p>
                <p class="product-price">
                    <span class="price-sec">$16.48</span>
                    <span class="price-sec-line">$6.48</span>
                </p>
                <a href="javascript:void(0)" class="btn btn-learn-full">
                    Learn more
                </a>
            </div>
        </li>
        <li class="card-item">
            <div class="product-cover">
                <span class="product-tag">Sale</span>
                <div class="product-image">
                    <img src="/src/assets/images/products/product-three.jpg" alt="Product" />
                </div>
                <div class="product-actions">
                    <div class="actions-icon">
                        <img src="/src/assets/images/icons/basket.svg" alt="icon" />
                    </div>
                    <div class="actions-icon">
                        <img src="/src/assets/images/icons/favorite.svg" alt="icon" />
                    </div>
                    <div class="actions-icon">
                        <img src="/src/assets/images/icons/like.svg" alt="icon" />
                    </div>
                </div>
            </div>
            <div class="product-detail">
                <div class="product-sec">
                    <p class="product-category">Training Courses</p>
                    <div class="product-raiting">
                        <span class="raiting-star"></span>
                        <span class="raiting-text">4.9</span>
                    </div>
                </div>
                <h3 class="product-title">Video in Live Action</h3>
                <p class="product-description">
                    We focus on ergonomics and meeting you....
                </p>
                <p class="product-sale">
                    <span class="frame-sec"></span>
                    <span class="sale-sec">15 Sales</span>
                </p>
                <p class="product-price">
                    <span class="price-sec">$16.48</span>
                    <span class="price-sec-line">$6.48</span>
                </p>
                <a href="javascript:void(0)" class="btn btn-learn-full">
                    Learn more
                </a>
            </div>
        </li>
        <li class="card-item">
            <div class="product-cover">
                <span class="product-tag">Sale</span>
                <div class="product-image">
                    <img src="/src/assets/images/products/product-four.jpg" alt="Product" />
                </div>
                <div class="product-actions">
                    <div class="actions-icon">
                        <img src="/src/assets/images/icons/basket.svg" alt="icon" />
                    </div>
                    <div class="actions-icon">
                        <img src="/src/assets/images/icons/favorite.svg" alt="icon" />
                    </div>
                    <div class="actions-icon">
                        <img src="/src/assets/images/icons/like.svg" alt="icon" />
                    </div>
                </div>
            </div>
            <div class="product-detail">
                <div class="product-sec">
                    <p class="product-category">Training Courses</p>
                    <div class="product-raiting">
                        <span class="raiting-star"></span>
                        <span class="raiting-text">4.9</span>
                    </div>
                </div>
                <h3 class="product-title">Video in Live Action</h3>
                <p class="product-description">
                    We focus on ergonomics and meeting you....
                </p>
                <p class="product-sale">
                    <span class="frame-sec"></span>
                    <span class="sale-sec">15 Sales</span>
                </p>
                <p class="product-price">
                    <span class="price-sec">$16.48</span>
                    <span class="price-sec-line">$6.48</span>
                </p>
                <a href="javascript:void(0)" class="btn btn-learn-full">
                    Learn more
                </a>
            </div>
        </li>
    </ul>
</section>
<!-- End section product -->