<!-- Start section product -->
<section class="section section-product-course">
  <div class="content-product">
    <span class="section-tag">Courses</span>
    <h2 class="section-heading">Most Popular Courses</h2>
    <p class="text-primary">
      Problems trying to resolve the conflict between <br> the two major realms of
      Classical physics: Newtonian mechanics
    </p>
  </div>
  <div class="card card-product">
    <article class="card-item">
      <div class="product-cover">
        <span class="product-tag">Sale</span>
        <img class="product-img" src="/src/assets/images/products/product-one.jpg" alt="Product" />
        <div class="product-actions">
          <a href="https://www.w3schools.com" class="actions-icon">
            <img src="/src/assets/images/icons/favorite.svg" alt="icon" />
          </a>
          <a href="https://www.w3schools.com" class="actions-icon">
            <img src="/src/assets/images/icons/basket.svg" alt="icon" />
          </a>
          <a href="https://www.w3schools.com" class="actions-icon">
            <img src="/src/assets/images/icons/like.svg" alt="icon" />
          </a>
        </div>
      </div>
      <div class="product-detail">
        <div class="product-sec">
          <p class="product-category">training Courses</p>
          <div class="product-raiting">
            <span class="raiting-star"></span>
            <span class="raiting-text">4.9</span>
          </div>
        </div>
        <h3 class="product-title">Video in Live Action</h3>
        <p class="product-description">
          We focus on ergonomics and meeting you....
        </p>
        <p class="product-sale">
          <span class="frame-sec"></span>
          <span class="sale-sec">15 Sales</span>
        </p>
        <p class="product-price">
          <span class="price-sec">$16.48</span>
          <span class="price-sec-line">$6.48</span>
        </p>
        <button class="btn btn-learn-full"><span class="text-learn">Learn
            more</span>
          <svg class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
          </svg></button>
      </div>
    </article>
    <article class="card-item">
      <div class="product-cover">
        <span class="product-tag">Sale</span>
        <img class="product-img" src="/src/assets/images/products/product-two.jpg" alt="Product" />
        <div class="product-actions">
          <a href="https://www.w3schools.com" class="actions-icon">
            <img src="/src/assets/images/icons/favorite.svg" alt="icon" />
          </a>
          <a href="https://www.w3schools.com" class="actions-icon">
            <img src="/src/assets/images/icons/basket.svg" alt="icon" />
          </a>
          <a href="https://www.w3schools.com" class="actions-icon">
            <img src="/src/assets/images/icons/like.svg" alt="icon" />
          </a>
        </div>
      </div>
      <div class="product-detail">
        <div class="product-sec">
          <p class="product-category">Training Courses</p>
          <div class="product-raiting">
            <span class="raiting-star"></span>
            <span class="raiting-text">4.9</span>
          </div>
        </div>
        <h3 class="product-title">Most Popular Courses</h3>
        <p class="product-description">
          We focus on ergonomics and meeting you....
        </p>
        <p class="product-sale">
          <span class="frame-sec"></span>
          <span class="sale-sec">15 Sales</span>
        </p>
        <p class="product-price">
          <span class="price-sec">$16.48</span>
          <span class="price-sec-line">$6.48</span>
        </p>
        <button class="btn btn-learn-full"><span class="text-learn">Learn
            more</span>
          <svg class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
          </svg></button>
      </div>
    </article>
    <article class="card-item">
      <div class="product-cover">
        <span class="product-tag">Sale</span>
        <img class="product-img" src="/src/assets/images/products/product-three.jpg" alt="Product" />
        <div class="product-actions">
          <a href="https://www.w3schools.com" class="actions-icon">
            <img src="/src/assets/images/icons/favorite.svg" alt="icon" />
          </a>
          <a href="https://www.w3schools.com" class="actions-icon">
            <img src="/src/assets/images/icons/basket.svg" alt="icon" />
          </a>
          <a href="https://www.w3schools.com" class="actions-icon">
            <img src="/src/assets/images/icons/like.svg" alt="icon" />
          </a>
        </div>
      </div>
      <div class="product-detail">
        <div class="product-sec">
          <p class="product-category">2,769 online courses</p>
          <div class="product-raiting">
            <span class="raiting-star"></span>
            <span class="raiting-text">4.9</span>
          </div>
        </div>
        <h3 class="product-title">Our Experts Teacher</h3>
        <p class="product-description">
          We focus on ergonomics and meeting you....
        </p>
        <p class="product-sale">
          <span class="frame-sec"></span>
          <span class="sale-sec">15 Sales</span>
        </p>
        <p class="product-price">
          <span class="price-sec">$16.48</span>
          <span class="price-sec-line">$6.48</span>
        </p>
        <button class="btn btn-learn-full"><span class="text-learn">Learn
            more</span>
          <svg class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
          </svg></span></button>
      </div>
    </article>
    <article class="card-item">
      <div class="product-cover">
        <span class="product-tag">Sale</span>
        <img class="product-img" src="/src/assets/images/products/product-four.jpg" alt="Product" />
        <div class="product-actions">
          <a href="https://www.w3schools.com" class="actions-icon">
            <img src="/src/assets/images/icons/favorite.svg" alt="icon" />
          </a>
          <a href="https://www.w3schools.com" class="actions-icon">
            <img src="/src/assets/images/icons/basket.svg" alt="icon" />
          </a>
          <a href="https://www.w3schools.com" class="actions-icon">
            <img src="/src/assets/images/icons/like.svg" alt="icon" />
          </a>
        </div>
      </div>
      <div class="product-detail">
        <div class="product-sec">
          <p class="product-category">Training Courses</p>
          <div class="product-raiting">
            <span class="raiting-star"></span>
            <span class="raiting-text">4.9</span>
          </div>
        </div>
        <h3 class="product-title">Every Client Matters</h3>
        <p class="product-description">
          We focus on ergonomics and meeting you....
        </p>
        <p class="product-sale">
          <span class="frame-sec"></span>
          <span class="sale-sec">15 Sales</span>
        </p>
        <p class="product-price">
          <span class="price-sec">$16.48</span>
          <span class="price-sec-line">$6.48</span>
        </p>
        <button class="btn btn-learn-full"><span class="text-learn">Learn
            more</span>
          <svg class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              d="M310.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-192 192c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L242.7 256 73.4 86.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l192 192z" />
          </svg></span></button>
      </div>
    </article>
  </div>
</section>
<!-- End section product -->