<section class="section-quality">
    <div class="quality-image">
        <img src="/src/assets/images/course/thumb-concept.png" alt="Thumb Concept">
    </div>
    <div class="quality-content">
        <h2 class="title-sub">Get Quality Education</h2>
        <p class="description">Problems trying to resolve the conflict between the two major realms of Classical
            physics: Newtonian
            mechanics</p>
        <a class="nav-link nav-learn" href="javascript:void(0)"><span class="nav-learn-text">Learn more</span></a>
    </div>
</section>