<!-- Start section services -->
<section class="section-services">
  <div class="wrapper-section">
    <div class="text-center heading-box">
      <span class="subheading">Services</span>
      <h2 class="heading-secondary">Our top value categories for you</h2>
    </div>
    <div class="card card-service text-center">
      <div class="card-item-service">
        <img src="/src/assets/images/servic/guide-tour.png" class="img-service" alt="guide-tour">
        <h3 class="service-content">Best Tour Guide</h3>
        <p class="service-description">What looked like a small patch of purple grass, above five feet.</p>
      </div>
      <div class="card-item-service">
        <img src="/src/assets/images/servic/booking.png" class="img-service" alt="booking">
        <h3 class="service-content">Easy Booking</h3>
        <p class="service-description">Square, was moving across the sand in their direction.</p>
      </div>
      <div class="card-item-service">
        <img src="/src/assets/images/servic/cloudy.png" class="img-service" alt="cloudy">
        <h3 class="service-content">Weather Forecast</h3>
        <p class="service-description">What looked like a small patch of purple grass, above five feet.</p>
      </div>
    </div>
  </div>
</section>
<!-- End section service -->
