<!-- Start section testimonials -->
<section class="section-testimonials">
  <div class="text-center">
    <span class="subheading">Testimonials</span>
    <h2 class="heading-secondary">Trust our clients</h2>
  </div>
  <div class="carousel carousel-testimonials">
    <div class="carousel-item">
      <img width="128px" height="128px" src="/src/assets/images/testimonials/client.png" alt="clients" />
      <p class="testimonial-name">Mark Smith<span class="nickname"> / Travel Enthusiast</span></p>
      <div class="testimonial-rate">
        <span class="icon icon-rate"></span>
        <span class="icon icon-rate"></span>
        <span class="icon icon-rate"></span>
        <span class="icon icon-rate"></span>
        <span class="icon icon-rate"></span>
      </div>
      <p class="testimonial-des">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
        piece of classical
        Latin literature from 45 BC.</p>
      <div class="dots">
        <span class="dot"></span>
        <span class="dot"></span>
        <span class="dot"></span>
      </div>
    </div>
    <a href="#" aria-label="Read more about feedback user" class="carousel-control btn btn-circle-light arrow left"><span class="icon icon-arrow-left"></span></a>
    <a href="#" aria-label="Read more about feedback user" class="carousel-control btn btn-circle-full  arrow right"><span
        class="icon icon-arrow-right"></span></a>
  </div>
</section>
<!-- End section testimonials -->
