<!-- Start section trademark -->
<section class="section-trademark">
  <div class="trademark-box">
    <img srcset="/src/assets/images/trademark/trademark-tripadvisor-tablet.png 212w,
    /src/assets/images/trademark/trademark-tripadvisor.png 132w" sizes="(min-width:1400px) 211.83px, (min-width:1024px) 211.83px,
    132.39px" src="/src/assets/images/trademark/trademark-tripadvisor.png" alt="Travel world">
    <!-- <img src="/src/assets/images/trademark/trademark-tripadvisor.png" alt="Travel world"> -->
    <img srcset="/src/assets/images/trademark/trademark-expedia-tablet.png 113w,
    /src/assets/images/trademark/trademark-expedia.png 71w" sizes="(min-width:1400px) 113.06px, (min-width:1024px) 113.06px,
    70.66px" src="/src/assets/images/trademark/trademark-expedia.png" alt="Travel world">
    <!-- <img src="/src/assets/images/trademark/trademark-expedia.png" alt="Travel world"> -->
    <img srcset="/src/assets/images/trademark/trademark-booking-tablet.png 189w,
    /src/assets/images/trademark/trademark-booking.png 118w" sizes="(min-width:1400px) 188.6px, (min-width:1024px) 188.6px,
    117.88px" src="/src/assets/images/trademark/trademark-booking.png" alt="Travel world">
    <!-- <img src="/src/assets/images/trademark/trademark-booking.png" alt="Travel world"> -->
    <img srcset="/src/assets/images/trademark/trademark-airbnb-tablet.png 103w,
    /src/assets/images/trademark/trademark-airbnb.png 64w" sizes="(min-width:1400px) 102.53px, (min-width:1024px) 102.53px,
    64.08px" src="/src/assets/images/trademark/trademark-airbnb.png" alt="Travel world">
    <!-- <img src="/src/assets/images/trademark/trademark-airbnb.png" alt="Travel world"> -->
    <img srcset="/src/assets/images/trademark/trademark-grbitz-tablet.png 174w,
    /src/assets/images/trademark/trademark-grbitz.png 108w" src="/src/assets/images/trademark/trademark-grbitz.png"
      sizes="(min-width:1400px) 173.57px, (min-width:1024px) 173.57px, 108.48px" alt="Travel world">
    <!-- <img src="/src/assets/images/trademark/trademark-grbitz.png" alt="Travel world">
  </div> -->
</section>
<!-- End section trademark -->
