<section class="section-trademark">
  <div class="trademark-box">
    <div class="trademark-top">
      <img src="/src/assets/images/trademark/trademark-tripadvisor.png" alt="trademark">
      <img src="/src/assets/images/trademark/trademark-expedia.png" alt="trademark">
      <img src="/src/assets/images/trademark/trademark-booking.png" alt="trademark">
    </div>
    <div class="trademark-bottom">
      <img src="/src/assets/images/trademark/trademark-airbnb.png" alt="trademark">
      <img src="/src/assets/images/trademark/trademark-grbitz.png" alt="trademark">
    </div>
  </div>
</section>