<!-- Start section travelpoint -->
<section class="section-travelpoint">
  <div class="wrapper-travelpoint">
    <figure>
      <img srcset="/src/assets/images/travelpoint/travelpoint-tablet.png 871w,
    /src/assets/images/travelpoint/travelpoint-mobile.png 398w" sizes="(min-width:1200px) 871px, (min-width:768px) 871px,
    398px" class="img-travelpoint" alt="Travel world">
    </figure>
    <div class="box-content-travelpoint">
      <hgroup class="text-center">
        <span class="subheading">Travel Point</span>
        <h2 class="heading-secondary">We helping you find your dream location</h2>
        <p class="description-travelpoint">Contrary to popular belief, Lorem Ipsum is not simply random text. It has
          roots
          in a piece of
          classical Latin literature from 45 BC.</p>
      </hgroup>
      <div class="card card-treatment">
        <div class="card-item-treatment">
          <p class="amount">500+</p>
          <p class="treatment-label">Holiday Package</p>
        </div>
        <div class="card-item-treatment">
          <p class="amount">100</p>
          <p class="treatment-label">Luxury Hotel</p>
        </div>
        <div class="card-item-treatment">
          <p class="amount">7</p>
          <p class="treatment-label">Premium Airlines</p>
        </div>
        <div class="card-item-treatment">
          <p class="amount">2k+</p>
          <p class="treatment-label">Happy Customer</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End section travelpoint -->
